# Python Variables

### 1. Create a variable name `fruit` with value `orange` and print `fruit`

### Solution

In [6]:
fruit = 'orange'
print(fruit)

orange

### 2. Check the type of the variable `fruit`

### Solution

In [14]:
type(fruit)

str

### 3. Create two variables `my_float` and `my_int` with values 9.99 and 9 respectively and print their types

### Solution

In [16]:
my_float = 9.99
my_int = 9

print(type(my_float))
print(type(my_int))

<class 'float'>
<class 'int'>

### 4. Multiple `my_float` and `my_int` and store it in variable `my_results`

### Solution

In [18]:
my_results = my_float*my_int
my_results

89.91

# Strings

### 1. Convert the `my_name` variable in lower case

In [22]:
my_name = 'JAMES HALIBURTON'

### Solution

In [24]:
my_name.lower()

'james haliburton'

### 2. Replace the space in `my_name` variable with `_`

### Solution

In [30]:
replaced = my_name.replace(' ','_')
replaced

'JAMES_HALIBURTON'

### 3. Split the `my_name` variable into list using default separator (space)

### Solution

In [40]:
my_name.split()

['JAMES', 'HALIBURTON']

### 4. Join the two strings

In [46]:
first_string = 'My name is'
second_string = 'James'

### Solution

In [51]:
joined = " ".join([first_string, second_string])
joined

'My name is James'

# Lists

### 1. Reverse the given python list

In [65]:
list1 = [100, 200, 300, 400, 500]

### Solution

In [68]:
list1.reverse()
list1

[500, 400, 300, 200, 100]

### 2. Sort the given Python list in descending order

In [70]:
list2 = [1, 5, 2, 3, 4, 9, 8, 7, 10, 6]

### Solution

In [86]:
list2.sort(reverse=True)
list2

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 3. Merge the two lists:

In [88]:
cities_canada = ['Toronto', 'Calgary', 'Vancouver']
cities_usa = ['New York', 'Houston', 'Colorado']

### Solution

In [90]:
merged = cities_canada + cities_usa
merged

['Toronto', 'Calgary', 'Vancouver', 'New York', 'Houston', 'Colorado']

### 4. Filter None values from the list

TIP: Use Python's default `filter` function.

In [104]:
list_names = ["Michael", "Kiva", "Fiza", "Brad", "", "Jimmy", "", "Natalia"]

### Solution

In [108]:
filtered = filter(None, list_names)
print(list(filtered))

['Michael', 'Kiva', 'Fiza', 'Brad', 'Jimmy', 'Natalia']

### 5. Indexing and Slicing Lists
- Select the first value from the list `countries`
- Select the first three values from the list `countries`
- Select the last three values from the list `countries`

In [112]:
countries = ['USA', 'Canada','India', 'China', 'Japan', 'Denmark', 'Mexico']

### Solution

In [114]:
countries[0]

'USA'

In [120]:
countries[:3]

['USA', 'Canada', 'India']

In [126]:
countries[-3:]

['Japan', 'Denmark', 'Mexico']

# Python Dictionaries

### 1. Print all the keys from the dictionary `my_car`

In [130]:
my_car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

### Solution

In [136]:
my_car.keys()

dict_keys(['brand', 'model', 'year'])

### 2. Retrieve `year` value from the dictionary `my_car`

### Solution

In [140]:
my_car.get("year")

1964

### 3. Copy `my_car` dictionary into new variable `my_car2` and replace the `year` value from 1964 to 1975

### Solution

In [146]:
my_car2=my_car.copy()
my_car2["year"]=1975
my_car2

{'brand': 'Ford', 'model': 'Mustang', 'year': 1975}

### 4. Convert the following two lists into dictionary

TIP - You can use Python's `zip` function.

In [157]:
list1 = [1, 2, 3]
list2 = ['One', 'Two', 'Three']

### Solution

In [162]:
dictionary = dict(zip(list1, list2))
dictionary

{1: 'One', 2: 'Two', 3: 'Three'}

### 5. Merge the following dictionatires into one and store it in variable `dict3`

In [166]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

### Solution

In [171]:
dict3 = dict1 | dict2
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}