# Operators

### 1. Check if two variables are equal

In [1]:
a = 10
b = 10

### Solution

In [2]:
a == b

True

### 2. Check if both the following conditions are true:

- a < b
- b < c

In [7]:
a = 10
b = 20
c = 30

### Solution

In [8]:
a < b and b < c

True

### 3. Check if a is member of x

In [14]:
a = 10
x = [1,2,3,4,5,6,7,8,9,10]

### Solution

In [15]:
a in x

True

# Functions

### 1. Define a function `convert_upper_case` with one argument `name`. The function returns the uppercase string back.

### Solution

In [18]:
def convert_upper_case(name):
    return name.upper()

convert_upper_case('james')

'JAMES'

### 2. Write a function `my_function` that takes two arguments, name and age, and print their value.

### Solution

In [20]:
def my_function(name, age):
    print(name, age)

my_function("Jen", 33)

Jen 33

### 3. Define a function `check_credit` which takes one argument `credit_score`. The function should behave as follows:

- if the input `credit_score` is <= 600 the function should print "Your loan is not approved".
- if the input `credit_score` is > 600 the function should print "Your loan is approved

Execute the function with 720 credit score

### Solution

In [26]:
def check_credit(credit_score):
    if credit_score <= 600:
        print("Your loan is not approved")
    else:
        print("Your loan is approved")
        
check_credit(720)

Your loan is approved

### 4. Define a function `return_max` that takes one argument `numbers` which is a list. Function should return the max value from the list. Use `list1` to execute the function.

In [27]:
list1 = [1,2,3,60,100,200,600,1000]

### Solution

In [31]:
def return_max(numbers):
    return max(numbers)

return_max(list1)

1000

### 5. Define a function `convert_to_dict` that takes two arguments `list1` and `list2` and convert them into `dictionary`. Use `my_list1` and `my_list2` to execute this function and show results.

In [34]:
my_list1 = [1, 2, 3]
my_list2 = ['One', 'Two', 'Three']

### Solution

In [36]:
def convert_to_dict(list1, list2):
    return dict(zip(list1, list2))

convert_to_dict(my_list1, my_list2,)

{1: 'One', 2: 'Two', 3: 'Three'}

# Loops

### 1. Print first 10 natural numbers using while loop.

### Solution

In [37]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

### 2. Print first 10 natural numbers using for loop.

### Solution

In [39]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### 3. Convert all the names into upper case and store in a list `my_result`

In [40]:
cities = ['toronto', 'new york', 'california', 'tokyo', 'colorado']

### Solution

In [41]:
my_result = []

for i in cities:
    my_result.append(i.upper())

my_result

['TORONTO', 'NEW YORK', 'CALIFORNIA', 'TOKYO', 'COLORADO']

### 4. Write a loop to display elements from a given list present at odd index positions

In [1]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

### Solution

In [4]:
for i in my_list[1::2]:
    print(i,  end=" ")

20 40 60 80 100

### 5. Write a loop to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five
- If the number is greater than 150, then skip it and move to the next number
- If the number is greater than 500, then stop the loop

In [5]:
numbers = [12, 75, 150, 180, 145, 525, 50]

### Solution

In [6]:
for i in numbers:
    if i > 500:
        break
    elif i > 150:
        continue
    elif i % 5 == 0:
        print(i)

75
150
145